# Ignorar pastas de build, instalação e logs
#build/
#install/
#log/
#cg/

# Ignorar arquivos do Python compilados
__pycache__/
*.pyc
*.pyo

# Ignorar arquivos de configuração do editor
.vscode/
.idea/
